<div class="window">
        <header class="toolbar toolbar-header">
            <div class="toolbar-actions">
                <div class="btn-group">
                <button class="btn btn-default">
                    <span class="icon icon-home"></span>
                </button>
                <button class="btn btn-default">
                    <span class="icon icon-folder"></span>
                </button>
                <button class="btn btn-default active">
                    <span class="icon icon-cloud"></span>
                </button>
                <button class="btn btn-default">
                    <span class="icon icon-popup"></span>
                </button>
                <button class="btn btn-default">
                    <span class="icon icon-shuffle"></span>
                </button>
                </div>
            
                <button class="btn btn-default">
                <span class="icon icon-home icon-text"></span>
                Filters
                </button>
            
                <button class="btn btn-default btn-dropdown">
                    <span class="icon icon-megaphone"></span>
                </button>
                <div class="btn-group pull-right">
                    <button class="btn btn-default" (click)="minimizeApp()">
                        <span class="icon icon-minus"></span>
                    </button>
                    <button class="btn btn-default" (click)="toggleSizeApp()">
                        <span class="icon icon-resize-full"></span>
                    </button>
                    <button class="btn btn-negative " (click)="closeApp()">
                        <span class="icon icon-cancel" style="color: #FFF;"></span>
                    </button>
                </div>
            </div>
        </header>
    <div class="window-content">
        <div class="pane-group">
            <div class="pane-sm sidebar">
                <nav class="nav-group">
                    <h5 class="nav-group-title">Favorites</h5>
                    <a class="nav-group-item active">
                    <span class="icon icon-home"></span>
                    connors
                    </a>
                    <span class="nav-group-item">
                    <span class="icon icon-download"></span>
                    Downloads
                    </span>
                    <span class="nav-group-item">
                    <span class="icon icon-folder"></span>
                    Documents
                    </span>
                    <span class="nav-group-item">
                    <span class="icon icon-signal"></span>
                    AirPlay
                    </span>
                    <span class="nav-group-item">
                    <span class="icon icon-print"></span>
                    Applications
                    </span>
                    <span class="nav-group-item">
                    <span class="icon icon-cloud"></span>
                    Desktop
                    </span>
                </nav>
            </div>
            <div class="pane"><router-outlet></router-outlet></div>
        </div>
    </div>
</div>